<center><form action='/sessions/new' method="post" >
	Username: <input type='text' name='user_name' autocomplete="off">
	E-mail:   <input type='text' name='email' autocomplete="off">
	Password: <input type='password' name='password' autocomplete="off">
	<input type='submit' name='Sign in'
	value='Sign in'>
</form>
</center>
